<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="form-container">
    <form class="register-form" action="/account/register" method="post"> 
        <h2>Register</h2>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="account_password" required>
            <span class="reveal-button" id="passwordHide"></span>
        </div>
        <button type="submit" class="register-btn">Register</button>
    </form>
</div>

<!-- Script to handle hiding and revealing password field -->
<script>
    const passwordInput = document.querySelector("#password");
    const passwordHide = document.querySelector("#passwordHide");

    passwordHide.addEventListener("click", () => {
        if(passwordInput.getAttribute("type") === "password") {
            passwordInput.setAttribute("type", "text");
            passwordHide.classList.remove("active");
        } else {
            passwordInput.setAttribute("type", "password");
            passwordHide.classList.add("active");
        }
    });
</script>