<div class="form-container">
    <form class="login-form" action="/account/register" method="post"> 
        <h2>Register</h2>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="firstname" id="firstname" name="account_firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="lastname" id="lastname" name="account_lastname" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="account_email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="account_password" required>
        </div>
        <button type="register" class="register-btn">Register</button>
    </form>
</div>