<% const d = new Date(); 
let year = d.getFullYear(); %>
<footer class="container">
    <p>
        &#169; <%= year %> Liezl G. Lizardo | CSE 340 App |  
    </p>
    <a href="/ierror">Cause an error</a>
</footer>