<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="text-img">
    <div class="text-area">
        <h1>DMC Delorean <br>
            3 Cup Holders <br>
            Supreme doors <br>
            Fuzzy dice!</h1>

        <button class="btn-1">Own Today</button>
    </div>

    <div class="img-area img-area-1">
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
</div>

<!-- Upgrades and Reviews Section -->
<div class="flex-container">
    <section class="card">
        <h2>Delorean Upgrades</h2>
        <div class="img-area img-area-2">
            <div class="upgrade">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
                <h4>Bumper Sticker</h4>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/flame.jpg" alt="flame">
                <h4>Flame</h4>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                <h4>Flux Cap</h4>
            </div>
            <div class="upgrade">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
                <h4>Hub-Cap</h4>
            </div>
        </div>
    </section>

    <section class="card">
        <h2>DMC Delorean Reviews</h2>
        <!-- Add review content here -->
        <p>"Nice car"(3/5)</p>
        <p>"Coolest ride on the road"(3/5)</p>
    </section>
</div>