<h1><%- title %></h1>

<!-- Display Flash Messages if they exist -->
<% if (messages.info) { %>
  <div class="notice">
    <p><%= messages.info %></p>
  </div>
<% } %>

<% if (messages.errors && messages.errors.length) { %>
  <ul class="notice">
    <% messages.errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<!-- Form for adding a new classification -->
<form class="input-box" action="/inv/add-classification" method="post">
  <label>
    CLASSIFICATION NAME
    <input 
      type="text" 
      name="classification_name" 
      required 
      value="<%= locals.classification_name || '' %>" 
      pattern="[0-9a-zA-Z]+" 
      title="Only alphanumeric characters allowed (no spaces or special characters)"
    >
  </label>
  <span class="fine-print">Required. Cannot contain spaces or special characters.</span>
  <input type="submit" value="ADD">
</form>