<h1><%- title %></h1>
<%- messages() %>

<% if (errors && errors.length) { %>
    <ul class="notice">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<ul class="no-bullet">
    <li>
        <a href="/inv/add-classification" class="btn">Add New Classification</a>
    </li>
    <li>
        <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
    </li>
</ul>